<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
<h1>My Book</h1>
<h2 th:text="${message}"></h2>

<p>Total Books: <span th:text="${Books.size()}"></span></p>

<table border="1">
    <tr>
        <th>Book Name</th>
    </tr>
    <tr th:each="book : ${Books}">
        <td th:text="${book.bookName}"></td>
    </tr>


</table>

<a th:href="@{/addBook}">
    <button>View Details</button>
</a>
</body>
</html>
